:root {
  --mainColor: #7867ad;
  --trimColor: #f7efe5;
  --backgroundColor: #e2bfd9;
  --accessoryColor: #c8a1e0;
}

/* Pallette and other groupings  */
.mainColor {
  background: var(--mainColor);
}

.trimColor {
  background: var(--trimColor);
}

.backgroundColor {
  background: var(--backgroundColor);
}

.accessoryColor {
  background: var(--accessoryColor);
}

.fontPrimary {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    cursive;
}

/* Mobile screen settings @media screen and (max-width: 700px) {
} */

.flexboxCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexboxCenter {
  display: flex;
  justify-content: center;
}
