.foxTemplateMain {
  background-color: #3b1e54;
}

.foxTemplateTrim {
  background-color: #9b7ebd;
}

.foxTemplateBackground {
  background-color: #d4bee4;
}

.foxTemplateAccessory {
  background-color: #ffffeb;
}
